@model Listing

<div class="loader" id="AjaxLoader" style="display:none;">
    <div class="strip-holder">
        <div class="strip-1"></div>
        <div class="strip-2"></div>
        <div class="strip-3"></div>
    </div>
</div>

@{
    bool showWatchCount = SiteClient.BoolSetting(SiteProperties.EnableWatchCount);
}
@if (User.Identity.IsAuthenticated && Model.Context.Watched)
{
    <a href="@Url.Action(MVC.BiddingWatchingAction, MVC.AccountController)" class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview detail__action-link disabled" title="@Html.GlobalResource("GoToWatchList")">
        @if (showWatchCount)
        {
            <span class="detail__action-link-count">
                @Html.GlobalResource("WatchCount", UserClient.GetWatchCount(Model.ID))
            </span>
        }
        <span class="glyphicon glyphicon-ok"></span>
        <span class="detail__action-link-text">@Html.GlobalResource("Watching") </span>
    </a>
}
else
{
    <a href="@Url.Action(MVC.AddWatchAction, MVC.ListingController, new { id = Model.ID })" class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview detail__action-link">
        @if (showWatchCount)
        {
            <span class="detail__action-link-count">
                @Html.GlobalResource("WatchCount", UserClient.GetWatchCount(Model.ID))
            </span>
        }
        <span class="glyphicon glyphicon-plus"></span>
        @Html.GlobalResource("AddtoWatchList")
    </a>
}
<!--Developer Work-->
<div class="modal fade" id="Dhl" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div id="alert" style="display:none">
                    <ul class="validation-summary-errors" id="UlError">
                    </ul>
                </div>
                <h4 class="modal-title"> @Html.GlobalResource("DHLRateCalculator")</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="registerform" name="registerform" action="">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            @Html.GlobalResource("ShipTo")
                        </label>
                        <select class="form-control ipt" id="ddlShipCountryList" required>
                            <option value="">--@Html.GlobalResource("Select")--</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AX">Åland Islands</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia, Plurinational State of</option>
                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                            <option value="BA">Bosnia and Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CD">Congo, the Democratic Republic of the</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Côte d'Ivoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CW">Curaçao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard Island and McDonald Islands</option>
                            <option value="VA">Holy See (Vatican City State)</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran, Islamic Republic of</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IM">Isle of Man</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JE">Jersey</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KP">Korea, Democratic People's Republic of</option>
                            <option value="KR">Korea, Republic of</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Lao People's Democratic Republic</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia, Federated States of</option>
                            <option value="MD">Moldova, Republic of</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="ME">Montenegro</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PS">Palestinian Territory, Occupied</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="BL">Saint Barthélemy</option>
                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                            <option value="KN">Saint Kitts and Nevis</option>
                            <option value="LC">Saint Lucia</option>
                            <option value="MF">Saint Martin (French part)</option>
                            <option value="PM">Saint Pierre and Miquelon</option>
                            <option value="VC">Saint Vincent and the Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome and Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="RS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SX">Sint Maarten (Dutch part)</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                            <option value="SS">South Sudan</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard and Jan Mayen</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SY">Syrian Arab Republic</option>
                            <option value="TW">Taiwan, Province of China</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania, United Republic of</option>
                            <option value="TH">Thailand</option>
                            <option value="TL">Timor-Leste</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad and Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks and Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                            <option value="VN">Viet Nam</option>
                            <option value="VG">Virgin Islands, British</option>
                            <option value="VI">Virgin Islands, U.S.</option>
                            <option value="WF">Wallis and Futuna</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">@Html.GlobalResource("ShipPostalZipCode") </label>
                        <input type="text" id="tbPostalCode" class="form-control ipt" placeholder="@Html.GlobalResource("ShipPostalZipCode")" required maxlength="11">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">@Html.GlobalResource("ShipCityName")</label>
                        <input type="text" id="tbCityName" class="form-control ipt" placeholder="@Html.GlobalResource("CityName")" required maxlength="34">
                    </div>
                    <div class="form-group">
                        <input id="Check" type="button" class="btn btn-success btn-block ipt" value="@Html.GlobalResource("Check")">
                    </div>
                </form>
                <div class="form-group" style="display:none" id="GripList">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("Service"):</strong>&nbsp;
                            <strong class="text-success" id="service"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("DeliveryDate"):</strong>&nbsp;
                            <strong class="text-success" id="deliveryDate"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("DeliveryTime"):</strong>&nbsp;
                            <strong class="text-success" id="deliveryTime"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("PickupDate"):</strong>&nbsp;
                            <strong class="text-success" id="pickupDate"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("TotalTransitDays"):</strong>&nbsp;
                            <strong class="text-success" id="totalTransitDays"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("CurrencyCode"):</strong>&nbsp;
                            <strong class="text-success" id="currencyCode"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("WeightCharge"):</strong>&nbsp;
                            <strong class="text-success" id="weightCharge"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("ChargeValue"):</strong>&nbsp;
                            <strong class="text-success" id="chargeValue"></strong>
                        </li>
                        <li class="list-group-item" style="display:none">
                            <strong>@Html.GlobalResource("ExchangeRate"):</strong>&nbsp;
                            <strong class="text-success" id="exchangeRate"></strong>
                        </li>
                        <li class="list-group-item">
                            <strong style="color: darkblue;">@Html.GlobalResource("EstimatedTotal"):</strong>&nbsp;
                            <strong style="color: darkblue;" class="text-success" id="estimatedTotal"></strong>
                        </li>

                    </ul>
                </div>
                <div class="form-group" style="display:none" id="ErrorGripList">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>@Html.GlobalResource("Error"):</strong>&nbsp;
                            <strong class="text-success" id="error"></strong>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="CloseDhl" data-dismiss="modal">@Html.GlobalResource("Close")</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<a href="" class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview detail__action-link" id="btnCalc" data-toggle="modal" data-target="#Dhl">
    <span class="glyphicon glyphicon-calendar"></span>
    @Html.GlobalResource("DHLRateCalculator")
</a>



<style>
    /*!
        // 3. Loader
        // --------------------------------------------------*/
    .loader {
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .strip-holder {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 50%;
        margin-left: -50px;
        position: relative;
    }

    .strip-1,
    .strip-2,
    .strip-3 {
        width: 20px;
        height: 20px;
        background: #0072bc;
        position: relative;
        -webkit-animation: stripMove 2s ease infinite alternate;
        animation: stripMove 2s ease infinite alternate;
        -moz-animation: stripMove 2s ease infinite alternate;
    }

    .strip-2 {
        -webkit-animation-duration: 2.1s;
        animation-duration: 2.1s;
        background-color: #23a8ff;
    }

    .strip-3 {
        -webkit-animation-duration: 2.2s;
        animation-duration: 2.2s;
        background-color: #89d1ff;
    }

    @@-webkit-keyframes stripMove {
        0% {
            transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
        }

        50% {
            transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            transform: scale(4, 1);
            -webkit-transform: scale(4, 1);
            -moz-transform: scale(4, 1);
        }

        100% {
            transform: translate3d(-50px, 0px, 0px);
            -webkit-transform: translate3d(-50px, 0px, 0px);
            -moz-transform: translate3d(-50px, 0px, 0px);
        }
    }

    @@-moz-keyframes stripMove {
        0% {
            transform: translate3d(-50px, 0px, 0px);
            -webkit-transform: translate3d(-50px, 0px, 0px);
            -moz-transform: translate3d(-50px, 0px, 0px);
        }

        50% {
            transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            transform: scale(4, 1);
            -webkit-transform: scale(4, 1);
            -moz-transform: scale(4, 1);
        }

        100% {
            transform: translate3d(50px, 0px, 0px);
            -webkit-transform: translate3d(50px, 0px, 0px);
            -moz-transform: translate3d(50px, 0px, 0px);
        }
    }

    @@keyframes stripMove {
        0% {
            transform: translate3d(-50px, 0px, 0px);
            -webkit-transform: translate3d(-50px, 0px, 0px);
            -moz-transform: translate3d(-50px, 0px, 0px);
        }

        50% {
            transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            transform: scale(4, 1);
            -webkit-transform: scale(4, 1);
            -moz-transform: scale(4, 1);
        }

        100% {
            transform: translate3d(50px, 0px, 0px);
            -webkit-transform: translate3d(50px, 0px, 0px);
            -moz-transform: translate3d(50px, 0px, 0px);
        }
    }
</style>
<!--end developer work-->
<script>
    $(document).ready(function () {

        $("#AjaxLoader").click(function () {
            if (confirm("Are you sure you want to stop the loader? ")) {
                $('#AjaxLoader').hide();
                $("input:text").val('');
                $("select#ddlShipCountryList")[0].selectedIndex = 0;
                $('#ErrorGripList').css('display', 'none');
                $("#CloseDhl").trigger("click");
            }
        });

        $('.ipt').on('input propertychange change keyup paste mouseup', function () {
            if ($(this).val() == "") {
                $(this).css("border", "1px solid red");
                $(this).addClass("input-validation-error");
            }
            else {
                $(this).css("border", "1px solid black");
                $(this).removeClass("input-validation-error");
            }
        });


       /* var requestUrl = "http://ip-api.com/json";

        $.ajax({
            url: requestUrl,
            type: 'GET',
            success: function (json) {
                $("#ddlShipCountryList>option[value='"+json.countryCode+"']").prop('selected', true);
            },
            error: function (err) {
                console.log("Request failed, error= " + err);
            }
        }); */
    });


    @{
        var sellerInformation = @ViewData["SellerInformation"]  as Address;

        string CountryCode = @sellerInformation.Country.Code;
        string ZipPostalCode = @sellerInformation.ZipPostal;
        string City = @sellerInformation.City;

    }
    var SellerCountryCode = "@CountryCode";
    var SellerPostalcode = @ZipPostalCode;
    var SellerCity = "@City";
    var WeightUnit = "";
    var Weight = 0;
    var Height = 0;
    var Length = 0;
    var Width = 0;
    var DimensionUnit = "";
    var obj = JSON.parse("null");


   /* $("#ddlShipCountryList").change(function () {
        var selectedCountry = $(this).children("option:selected").val();
        GetQuoteFromDhl(selectedCountry, postalCode);
    }); */

    $("#Check").click(function () {
        $('#AjaxLoader').show();

        var message = "";
        //$('#registerform , input[type="text"] , select').each(function () {
        $('.ipt').each(function () {
            if ($(this).val() == "") {
                $(this).css("border", "1px solid red");
                $(this).addClass("input-validation-error");
            }
            else {
                $(this).css("border", "1px solid black");
            }
        });

        if ($("#tbPostalCode").val() == "")
        {
            message += "POSTAL CODE IS REQUIRED. <br>";
        }
        if ($("#tbCityName").val() == "") {
            message += "CITY NAME IS REQUIRED. <br>";
        }

        if ($("#ddlShipCountryList").val() == "") {
            message += "COUNTRY IS REQUIRED. <br>";
        }

        if (message.length > 0) {
            $("#alert").show();
            $('#AjaxLoader').hide();
            $("#UlError").empty();
            for (var i = 0; i < message.length; i++) {
                if (message.split('<br>')[i] == undefined) {
                    return;
                    break;
                }
                var node = document.createElement("LI");
                var textnode = document.createTextNode(message.split('<br>')[i]);
                node.appendChild(textnode);
                document.getElementById("UlError").appendChild(node);
            }
            return;
        }
        else {
            $("#alert").hide();
        }


        var BuyerPostalCode =$("#tbPostalCode").val();
        var BuyerCity = $("#tbCityName").val();
        var BuyerCountryCode = $("#ddlShipCountryList").children("option:selected").val();


        GetQuoteFromDhl(BuyerCountryCode, BuyerPostalCode, BuyerCity, SellerCountryCode, SellerPostalcode, SellerCity)


    });


    function GetQuoteFromDhl(BuyerCountryCode, BuyerPostalCode, BuyerCity ,SellerCountryCode, SellerPostalcode, SellerCity) {
        var itemList = $(".detail__custom-fields").children();

        for (var i = 0; i < itemList.length; i++) {
            var value = $(".detail__custom-fields").children()[i].children[0].innerText;

            if (value == "Weight Unit of Measure" || value == "Gewigseenheid" || value == "وحدة الوزن للقياس" || value == "Unité de mesure de poids" || value == "Unidade de Medida de Peso") {
                WeightUnit = $(".detail__custom-fields").children()[i].children[1].innerText;
            }
            else if (value == "Weight" || value == "Gewig" || value == "وزن" || value == "Poids" || value == "Peso") {
                Weight = parseFloat($(".detail__custom-fields").children()[i].children[1].innerText);
            }
            else if (value == "Height" || value == "Hoogte" || value == "ارتفاع" || value == "la taille" || value == "Altura") {
                Height = parseFloat($(".detail__custom-fields").children()[i].children[1].innerText);
            }
            else if (value == "Depth" || value == "Diepte" || value == "عمق" || value == "Profondeur" || value == "Profundidade") {
                Length = parseFloat($(".detail__custom-fields").children()[i].children[1].innerText);
            }
            else if (value == "Width" || value == "Breedte" || value == "عرض" || value == "Largeur" || value == "Largura") {
                Width = parseFloat($(".detail__custom-fields").children()[i].children[1].innerText);
            }
            else if (value == "Dimension Unit of Measure" || value == "Maateenheid" || value == "وحدة أبعاد القياس" || value == "Unité de mesure dimensionnelle" || value == "Unidade de medida de dimensão") {
                DimensionUnit = $(".detail__custom-fields").children()[i].children[1].innerText;
            }
        }


        var settings = {
            "url": "https://courierservice.2nd-to-first.com/getquote.php",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({ "SellerCountryCode": SellerCountryCode, "SellerPostalcode": SellerPostalcode, "SellerCity": SellerCity, "PaymentCountryCode": SellerCountryCode, "Date": @DateTime.Now.Date.ToString("yyyy-MM-dd"), "WeightUnit": WeightUnit, "DimensionUnit": DimensionUnit, "Height": Height, "Length": Length, "Width": Width, "Weight": Weight, "BuyerCountryCode": BuyerCountryCode, "BuyerPostalcode": BuyerPostalCode, "BuyerCity": BuyerCity}),
        };

        $.ajax(settings).done(function (response) {
            if (response['StandardRate']) {

                $('#GripList').css('display', 'block');
                $('#ErrorGripList').css('display', 'none');
                $('#service').text(response['StandardRate'][0]['Service']);
                $("#deliveryDate").text(response.DeliveryDate);
                $("#deliveryTime").text(response.DeliveryTime);
                $("#pickupDate").text(response.PickupDate);
                $("#totalTransitDays").text(response.TotalTransitDays);
                $('#currencyCode').text(response['StandardRate'][0]['CurrencyCode']);
                $('#weightCharge').text(response['StandardRate'][0]['WeightCharge']);
                $('#chargeValue').text(response['StandardRate'][0]['ChargeValue']);
                $('#exchangeRate').text(response.ExchangeRate);
                $('#estimatedTotal').text(response['StandardRate'][0]['EstimatedTotal']);
                $('#AjaxLoader').hide();
            }
            else {
                $('#GripList').css('display', 'none');
                $('#ErrorGripList').css('display', 'block');
                $('#error').text(response);
                $('#AjaxLoader').hide();
            }


        });




    }

</script>


