@model RainWorx.FrameWorx.DTO.CreditCard

@{
    Layout = "~/Views/Account/_MyAccountLayout.cshtml";
    List<Address> addresses = UserClient.GetAddresses(User.Identity.Name, Html.FBOUserName());
    string publishableApiKey = (string)ViewData["PublishableApiKey"];
    int? billingAddressId = (int?)ViewData["PayerBillingAddressId"];
    Address billingAddress = addresses.FirstOrDefault(a => a.ID == (billingAddressId ?? 0));
    string returnUrl = (string)ViewData["returnUrl"];

    var fboUser = UserClient.GetUserByUserName(User.Identity.Name, Html.FBOUserName());
    int? primaryAddrId = fboUser.PrimaryAddressID;
}

<div class="well well-sm section-title">
    @Html.GlobalResource("CreditCardInformation")
</div>
@Html.LocalizedValidationSummary()
@using (Html.BeginForm(MVC.AddCardAction, MVC.StripeController, FormMethod.Post, new { @id = "AddCardForm" }))
{
    @Html.Hidden("SellerID")
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3 hidden-sm hidden-xs">&nbsp;</div>
            <div class="col-md-6 col-sm-12">
                <span class="payment-errors"></span>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-1 control-label"><strong style="font-size: larger">#</strong></label>
                        <div class="col-xs-11">
                            <input data-stripe="number" type="text" class="CreditCardNumber OnChangeCheckNew form-control" placeholder="@Html.GlobalResource("CardNumber")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label"><span class="glyphicon glyphicon-calendar"></span></label>
                        <div class="col-xs-5">
                            @*@Html.MonthDropDownList(Fields.ExpirationMonth, " ", new { @class = "CreditCardExpMonth OnChangeCheckNew form-control" })*@
                            <select data-stripe="exp_month" class="CreditCardExpMonth OnChangeCheckNew form-control">
                                <option value=""> </option>
                                @foreach (var monthOption in Html.MonthOptions())
                                {
                                    <option value="@monthOption.Value">@monthOption.Text</option>
                                }
                            </select>
                            <span class="help-block">@Html.GlobalResource("Month")</span>
                        </div>
                        <div class="col-xs-6">
                            @*@Html.YearDropDownList(Fields.ExpirationYear, " ", new { @class = "CreditCardExpYear OnChangeCheckNew form-control" })*@
                            <select data-stripe="exp_year" class="CreditCardExpYear OnChangeCheckNew form-control">
                                <option value=""> </option>
                                @foreach (var yearOption in Html.YearOptions())
                                {
                                    <option value="@yearOption.Value">@yearOption.Text</option>
                                }
                            </select>
                            <span class="help-block">@Html.GlobalResource("Year")</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-1 control-label"><span class="glyphicon glyphicon-lock"></span> </label>
                        <div class="col-xs-9">
                            @*@Html.TextBox(Fields.VerificationCode, string.Empty, new { @class = "CreditCardCVV OnChangeCheckNew form-control", placeholder = @Html.GlobalResource("VerificationCode") })*@
                            <input data-stripe="cvc" type="text" class="CreditCardCVV OnChangeCheckNew form-control" placeholder="@Html.GlobalResource("VerificationCode")" />
                        </div>
                        <div class="col-xs-1">
                            @Html.ToolTipButton("CVV_Help")
                        </div>
                    </div>
                    <div class="col-xs-11 col-xs-offset-1">@Html.ToolTipContent("CVV_Help", Html.GlobalResource("CVV_Help"))</div>
                    @if (billingAddressId == null)
                    {
                        <div class="form-group">
                            <label class="col-sm-5 control-label required">@Html.GlobalResource("BillingAddress")</label>
                            <div class="col-sm-7">

                                @{
                                    bool isFirstOpt = true;
                                    foreach (Address address in addresses)
                                    {
                                        bool isSelected =
                                            (
                                                (primaryAddrId.HasValue && primaryAddrId.Value == address.ID) ||
                                                (!primaryAddrId.HasValue && isFirstOpt)
                                            );
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                @Html.RadioButton("AddressID", address.ID, isSelected)
                                            </span>
                                            <button disabled="disabled" class="btn btn-default text-left">
                                                @Html.Partial("Address", address)
                                            </button>
                                        </div>
                                        <p></p>

                                        isFirstOpt = false;
                                    }
                                }
                                @Html.ActionLink(Html.GlobalResource("AddNewAddress"), MVC.CreateAddressAction, null,
                                    new { returnUrl =  Request.Url.PathAndQuery }, new { @class = "btn btn-default btn-xs" })
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.Hidden("AddressID", billingAddressId)
                    }
                </div>
                @if (billingAddress != null)
                {
                    <input type="hidden" data-stripe="name" value="@(billingAddress.FirstName + " " + billingAddress.LastName)" />
                    <input type="hidden" data-stripe="address_line1" value="@billingAddress.Street1" />
                    <input type="hidden" data-stripe="address_line2" value="@billingAddress.Street2" />
                    <input type="hidden" data-stripe="address_city" value="@billingAddress.City" />
                    <input type="hidden" data-stripe="address_state" value="@billingAddress.StateRegion" />
                    <input type="hidden" data-stripe="address_zip" value="@billingAddress.ZipPostal" />
                    <input type="hidden" data-stripe="address_country" value="@billingAddress.Country.Code" />
                }
                else
                {
                    <input type="hidden" data-stripe="name" />
                    <input type="hidden" data-stripe="address_line1" />
                    <input type="hidden" data-stripe="address_line2" />
                    <input type="hidden" data-stripe="address_city" />
                    <input type="hidden" data-stripe="address_state" />
                    <input type="hidden" data-stripe="address_zip" />
                    <input type="hidden" data-stripe="address_country" />
                }
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">&nbsp;</div>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-default" id="Save" name="Save" value="@Html.GlobalResource("Save")" />
            <a href="@returnUrl" class="btn btn-link">@Html.GlobalResource("Cancel")</a>
        </div>
    </div>
    @Html.Hidden("returnUrl", returnUrl)
}
@*
    <p class="text-center">
        &nbsp;<br />
        @Html.ButtonLink(Html.GlobalResource("ManageExistingCC"), "CreditCards", "Account", null, new { @class = "btn btn-link" })
    </p>
*@

<script>
    $(document).ready(function () {

        Stripe.setPublishableKey('@publishableApiKey.ToJavascriptSafeString()');

        var $form = $("#AddCardForm");
        $form.submit(function (event) {
            //if ($("#AddNewCC:checked").length > 0) {
                // Disable the submit button to prevent repeated clicks:
                $form.find("#CompletePaymentButton").prop("disabled", true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);
                // Prevent the form from being submitted:
                return false;
            //}
        });

        function stripeResponseHandler(status, response) {
            // Grab the form:
            var $form = $("#AddCardForm");

            if (response.error) { // Problem!

                // Show the errors on the form:
                $form.find('.payment-errors').text(response.error.message);
                $form.find("#CompletePaymentButton").prop('disabled', false); // Re-enable submission

            } else { // Token was created!

                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="@Fields.StripeToken">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        };

        //Make sure at least one of the options is checked
        if ($("input[name='@Fields.SelectedStripeCardId']:checked").length == 0) {
            $("input[name='@Fields.SelectedStripeCardId']").first().attr("checked", "checked");
        }

        //Initially hides extra "New" options if an "Existing" option is checked
        if ($("input.ExstCcOpt:checked").length > 0) {
            $("div.ShowOnNewOnly").hide();
        }

        //When any option is clicked, toggle extra "New" options as needed
        $("input[name='@Fields.SelectedStripeCardId']").change(function () {
            if ($("#AddNewCC:checked").length > 0) {
                $("div.ShowOnNewOnly").show();
            } else {
                $("div.ShowOnNewOnly").hide();
            }
        });

        //When any "New" details are entered, automatically check the "New" radio button
        $(".OnChangeCheckNew").change(function () {
            $("#AddNewCC").attr("checked", "checked").change();
        });

    });
</script>
